body {
  font-family: "Helvetica", Sans-Serif;
  background-color: #ffd101;
}

/* Back Button */
#back-btn {
  float: left;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #dddddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

/* Header Title */
.container h1 {
  text-align: center;
  font-size: 45px;
  margin: 40px 0px;
  margin-right: 50px;
}

/* Form */
#appointment-form {
  background-color: #ffffff;
  max-width: 900px;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}

/* Send Button */
.btn {
  background-color: #ffd101;
  color: #000;
  border: 0px;
}
